rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Regla para la colección de reseñas
    match /resenas/{document=**} {
      // Cualquiera puede leer (para ver el muro)
      allow read: if true;

      // Solo usuarios autenticados pueden crear (escribir)
      allow create: if request.auth != null;

      // (Opcional) Solo el dueño puede borrar o editar
      allow update, delete: if request.auth != null && request.auth.token.email == resource.data.usuario;
    }

    // Regla por defecto para otras cosas (bloqueado por seguridad)
    match /{document=**} {
      allow read, write: if false;
    }
  }
}